 .product_view .modal-dialog{max-width: 800px; width: 100%;}
 .pre-cost{text-decoration: line-through; color: #a5a5a5;}
 .space-ten{padding: 10px 0;}
 .row {
    margin-right: 0px;
    margin-left: 0px;
}
body{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  position: relative;
}
.tieude{
 margin:
}
.tieude h3{
    text-transform: uppercase; 
    font-family: 'Time New Roman';
    font-weight: bold;
    padding: 10px;
}
#flipkart-navbar {
    background-color: #2874f0;
    color: #ffffff;
}
.flipkart-navbar-input{
    color:black;
}
.row1{
    padding-top: 10px;
}

.row2 {
    padding-bottom: 20px;
}

.flipkart-navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
}

.flipkart-navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
}


.item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, .1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
}

.upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
}
.largenav {
    display: none;
}

.smallnav{
    display: block;
}

.smallsearch{
    margin-left: 15px;
    margin-top: 15px;
}

.menu{
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    .largenav {
        display: block;
    }
    .smallnav{
        display: none;
    }
    .smallsearch{
        margin: 0px;
    }
}

/*Sidenav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;        
}

@media screen and (max-height: 450px) {
  .sidenav a {font-size: 18px;}
}

.sidenav-heading{
    font-size: 36px;
    color: #fff;
}
/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  margin-bottom: 0px;
  border-radius: 0;
  
}

/* Remove the jumbotron's default bottom margin */ 
.jumbotron {
  margin-bottom: 0;
}

.affix {
  top:0;
  width: 100%;
  z-index: 9999 !important;
}
.nav-content {
  margin: 10px 10px;


}
.nav-content  .container-fluid  a,.nav-content  .container-fluid .btn{
    font-size: 16px;
    font-family: "Time New Roman";
    text-transform: uppercase;
    font-weight: bold;
}

.navbar .panel-heading .panel-title{
    font-size: 24px;
    font-weight: bold;
}


.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}
/*silder*/
.news-slide{

  width: 100%;
}
.slider-content{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  height: 400px;
}
.carousel-inner img {
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%); /* make all photos black and white */ 
  width: 100%; /* Set width to 100% */
  margin: auto;
}
.carousel-caption h3 {
  color: #fff !important;
}
#myCarousel{
  height: 400px;
}
@media (max-width: 600px) {
  .carousel-caption {
     display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
 }
 .slider-content .list-news{
     display: none;
 }
}
@media (max-width: 996px) {

  .slider-content .list-news{
     display: none;
 }
}
#myCarousel .item img{
    height: 400px;
    width: 100%;
}
.carousel-pager.item img{
  height: 150px;
  width: 100%;
}
.slider-content .item {
  padding-bottom: 3px;
}
.slider-content .item a img{
  height: 120px;
  width: 100%;
}
.slider-content .title-news{
  margin-bottom: -10px;
  background-color: yellow;
}
.slider-content .title-news p{
  padding-left: 10px;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 5px;
}
/**/
.row .linkview{
  margin: 5px;
  background-color: lightgrey;
  border-radius: 5px;
}
.row .linkview p{
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Time New Roman";
  text-transform: uppercase;
  color: #1a1aff;
}
/*slide news*/
.nav-content .nav-bar .dropdown:hover{
    background-color: lightblue;
    /*news*/
}
.tieudebaiviet{
    border-radius: 4px;
}
.tieudebaiviet h3{
    font-weight: bold;
    padding: 10px;
}
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
  height: 200px;
}
.binhluan textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
.tieudesanphammoi{
    border-radius: 5px;
} 
.tieudesanphammoi h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    font-family: "Time New Roman";

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.title-header{
  height: 40px;
  background-color:#dc0ef7;
  border-radius: 2px;
}
.title-header .tieu_de{
  vertical-align: middle;
  padding: 10px;
  color: white;

}
.title-header .tieu_de a{
  color: white;
}