body{
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Time New Roman";

}
.container-fluid .content-login{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
	min-height: 100vh; /* These two lines are counted as one :-)       */

	display: flex;
	align-items: center;

}
.tieu_dang_nhap{
	padding-top: 20px;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
}
#btn_login_admin{
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

/* Set gray background color and 100% height */
.sidenav {
	padding-top: 20px;
	background-color: #f1f1f1;
	height: 100%;
}

/* Set black background color, white text and some padding */
footer {
	background-color: #555;
	color: white;
	padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
	.sidenav {
		height: auto;
		padding: 15px;
	}
	.row.content {height:auto;} 
}
.content_navbar a{
	font-size: 14px;
	text-transform: uppercase;
}
input[type=number]::-webkit-inner-spin-button, 

input[type=number]::-webkit-outer-spin-button { 

	-webkit-appearance: none; 

	margin: 0; 

}
table.dataTable td, table.dataTable th {
    padding: 3px 10px;
    width: 1px;
    white-space: nowrap;
}